@CHARSET "UTF-8";

body {
	background: rgb(238, 238, 238);
	font: 12px 微软雅黑;
}

.container {
	width: 344px;
	margin: 0 auto;
}

.lg_mid {
	text-align: center;
	position: relative;
	background: url(../img/login_bg.gif) repeat-x left top;
	height: 203px;
	width: 300px;
	position: relative;
}

.lg_mid,.lg_left,.lg_right {
	float: left;
}

.text {
	position: absolute;
}

label {
	font: 13px "微软雅黑";
	position: absolute;
	left: 6px;
	top: 6px;
	color: #888;
	cursor: text;
}

.uname,.upwd,.msg {
	left: 50px;
}

.uname {
	top: 50px;
}

.upwd {
	top: 90px;
}

.text input {
	width: 200px;
	height: 30px;
	line-height: 25px;
	padding-left: 5px;
	border: 1px solid #cccccc;
}

.submit {
	margin-top: 140px;
	height: 30px;
	width: 100px;
}

.msg {
	color: #663366;
	position: absolute;
	top: 25px;
}

.focus label {
	visibility: hidden;
}

.bg {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 35%;
}