<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

<session-factory>
	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	<property name="connection.url">jdbc:mysql://localhost:3306/ssxn</property>
	<property name="connection.username">root</property>
	<property name="connection.password">root</property>
	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="show_sql">true</property>
	<property name="format_sql">true</property>
	<property name="hbm2ddl.auto">create</property>
	<!-- <property name="javax.persistence.validation.mode">none</property> -->
	<mapping class="com.ssxn.model.Muser" />
	<mapping class="com.ssxn.model.Clientchoose" />
	<mapping class="com.ssxn.model.Clientlook" />
	<mapping class="com.ssxn.model.Clientsend" />
	<mapping class="com.ssxn.model.Clientshoot" />
	<mapping class="com.ssxn.model.Contact" />
	<mapping class="com.ssxn.model.Identity" />
	<mapping class="com.ssxn.model.Member" />
	<mapping class="com.ssxn.model.Morder" />

</session-factory>

</hibernate-configuration>